@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SURVIVE</h1>
  
</div>

<div id="game" onclick="jump()">
    <div id="character"></div>
    
    <div id="block"></div>
    
</div>
        

